<!-- owner-task-bar.component.html -->
<header>
    <div class="container">
        <img src="../../assets/images/icon/logo.png" alt="Local Bites Logo" class="logo-image">
        <a href="#" class="logo">Local Bites - Restaurant Owner Affiliate</a>
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/ownerPage', user_id]">Your Restaurants</a>
                    <a href="#" routerLink="" >Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
