<app-header></app-header>
<body>
    <div class="container">
        <div class="wallet-wrapper">
            <img src="../../assets/images/Decoration/wallet.png" alt="Wallet Icon" class="wallet-icon"> <!-- Wallet Icon -->
            <p>Wallet Amount: ${{ user_wallet }}</p> 

            <input type="number" [(ngModel)]="amountToAdd" placeholder="Enter amount" class="wallet-input">

            <button (click)="addToWallet()" class="wallet-button">Add Funds</button>
        </div>
    </div>
</body>