header{
    background: rgb(135, 13, 13);
    padding: 0;
    border-bottom: 1px solid rgb(135, 13, 13);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

a{
    color: white
}

a:hover{
    background: pink;
    color: rgb(186, 7, 7);
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;
    color: white;
    font-size: large;
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}