<app-owner-task-bar></app-owner-task-bar>
<div class="menuPage">
  <div *ngIf="Menus.length > 0; else noMenu">
    <div *ngFor="let menu of Menus" class="menu-item">
      <h2>{{ menu.name }}</h2>
      <!-- <p>Item ID: {{ menu.item_id }}</p>
      <p>Menu ID: {{ menu.id }}</p> -->
      <p>Price: {{ menu.price ? '$' + menu.price : 'Not available' }}</p>
      <button (click)="navigateToUpdate(menu.item_id)" class="update-btn">Update</button>
      <button (click)="onDeleteClicked(menu.id.toString(), menu.item_id.toString())">Delete</button>
    </div>
  </div>
  
  <button (click)="navigateToAddMenu()" class="add-menu-btn">
    Add More Menu Items
  </button>

  <ng-template #noMenu class="no-menu">
    <p>No menu items available.</p>
  </ng-template>
</div>
