<div class="banner">
    <div class="content">
        <h1>Takeout.<br/> Made. <br/> Affordable.</h1>
        <div id="rectangle"></div>
    </div>
</div>

    <div class="routes2">
        <div class="feature3">
            <div class="button-container">
                <img src="../../assets/images/icon/takeaway.png" alt="Get the best experience">
                <h2>I want to order</h2>
                <p>Find local takeout offers and start saving. Explore takeout in your area</p>
                <a routerLink="/users/login" class="button">Explore restaurants</a>
            </div>
        </div>
        <div class="feature1">
            <div class="button-container">
                <img src="../../assets/images/icon/driver.png" alt="">
                <h2>I'm a Bite Driver</h2>
                <p>Pick up and deliver local items with cost-efficient local trips. </p>
                <a routerLink="/driverPage" class="button">Start earning</a>
            </div>
        </div>
        <div class="feature2">
            <div class="button-container">
                <img src="../../assets/images/icon/restaurant.png" alt="Become a Bite Partner">
                <h2>I'm a Bite owner</h2>
                <p>Expand your outreach with an innovative takeout business model with Local Bites</p>
                <a routerLink="/restaurant/login" class="button">Register my business</a>
            </div>
        </div>
    </div>  


 