<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="user-signup.component.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="">
    <div class="parent">
        <div class="container" id="container">
            <div class="form-container">
                <form class="row g-3 needs-validation" (ngSubmit)="onSubmit()" [formGroup]="signupForm">
                    <h1>Create User Account</h1>
                    <input type="text" name="name" placeholder="Name" formControlName="name" required>
                    <input type="email" name="email" placeholder="Email" formControlName="email" required>
                    <input type="text" name="zipcode" placeholder="Zipcode" formControlName="zip_code" required>
                    <input type="password" name="password" placeholder="Password" formControlName="password" required>
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-right">
                        <h1>Welcome Back!</h1>
                        <p>Use your existing account to log in</p>
                        <button (click)="goToLoginPage()"  type="button" class="hidden" id="login">Log In</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
