<app-header></app-header>
<div class="container" *ngIf="restaurant">
    <div class="image" [style.backgroundImage]="'url(' + restaurant.imageURL + ')'"></div>
    <div class="details">
        <div class="header">
            <span class="name">
                {{ restaurant.name }}
            </span>
        </div>
    </div>

    <!-- Items Listing -->

    <!-- <div class="menu" *ngFor="let item of restaurant?.items">
        <p>Item Name: {{ item.name }}</p>
        <p>Item Price: {{ item.price }}</p>
    </div> -->
</div>

<div class="menu" *ngIf="restaurant">
    <div *ngIf="restaurant.items && restaurant.items.length > 0">
        <h3>Menu Items</h3>
        <ul>
            <li *ngFor="let item of restaurant.items">
                {{ item.name }} - ${{ item.price }} <button (click)="addToCart(item.item_id, item.name, item.price)" class="add-to-crt">Add to Cart</button>
            </li>
        </ul>
    </div>
</div>