<!-- <div class="input-restaurant-details">
    <label for="restaurant-name">Restaurant Name</label>
    <input id="restaurant-name" type="text" placeholder="Restaurant Name..." [(ngModel)]="name">
    <label for="restaurant-loc">Restaurant Location</label>
    <input id="restaurant-loc" type="text" placeholder="Restaurant Location..." [(ngModel)]="location">
    <label for="menu-items">Menu Items</label>
    <div class="menu-items">
        <div *ngFor="let i of counter(15)" class="menu-item">
            <input type="text" placeholder="Item {{i}}...">
            <input type="text" placeholder="Price...">
        </div>
    </div>
</div> -->

<!--this whole component not needed, i can't delete this html, css, ts cuz it causes error, if you know how to delete safely go for it-->