<!-- <form (ngSubmit)="onButtonClicked()">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" [(ngModel)]="name" />
    </div>
    <div>
        <label for="location">Location:</label>
        <input id="location" name="location" type="text" [(ngModel)]="location" />
    </div>

    <div>
        <label for="stars">Stars:</label>
        <input id="stars" name="stars" type="number" [(ngModel)]="stars" />
    </div>
    <div>
        <label for="imageURL">Image URL:</label>
        <input id="imageURL" name="imageURL" type="text" [(ngModel)]="imageURL" />
    </div>
    <button type="submit">{{buttonText}}</button>
</form>


 -->
<!--this whole component not needed, i can't delete this html, css, ts cuz it causes error, if you know how to delete safely go for it-->