<app-header></app-header>
<div class="whole-page">
    <app-search-bar (input)="filterRestaurants($event)"></app-search-bar>
    <div class="search-page">
        <div class="recommend">
            <h2>{{ searchTitle }}</h2>
        </div>
        <ul>
            <li *ngFor="let restaurant of filteredRestaurants" class="restaurants">
                <a routerLink="/restaurant/{{restaurant.id}}">
                    <img [src]="restaurant.imageURL" alt="">
                    <div class="content">
                        <div class="name">
                            {{ restaurant.name }}
                        </div>
                        <!-- <span class="zip_code" [class.not]="!restaurant.zip_code">
                            ♥
                        </span> -->
                        <div class="footer">
                            <div class="rating">
                                {{ restaurant.stars }} / 5
                            </div>
                            <div class="tags">
                                {{ restaurant.tags }}
                            </div>
                            <div class="location">
                                {{ restaurant.location }}
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
