<header>
    <div class="container">
        <a href="#" class="logo">Local Bites</a>
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/searchPage', user_id]">Search</a>
                    <a [routerLink]="['/offersPage', user_id]">Offers</a>
                    <a [routerLink]="['/cartPage', user_id]">Cart</a>
                    <a href = "#" routerLink="">Logout</a>
                    <!-- <a [routerLink]="['/ownerPage', user_id]">Your Restaurants</a>
                    <a href = "#" routerLink="">Logout</a> -->
                </li>
            </ul>
        </nav>
    </div>
</header>
